.about-us {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    padding: 8vw 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vw;

    .about-cards {
        height: 55vw;
        width: 95%;
        border-radius: 20px;
        border: 5px solid #6DDD95;
        display: flex;
        overflow: hidden;
        background-image: url(/bg-12.jpg);
        background-position: center;
        background-size: cover;

        .about-cards-inner-top {
            height: 100%;
            width: 50%;
            padding: 5vw;
            display: flex;
            align-items: center;

            img {
                height: 80%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 20px;
            }
        }

        .about-cards-inner-bottom {
            height: 100%;
            width: 50%;
            padding: 3vw;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-weight: bold;
                color: #FFF;
                font-size: 6.5vw;
            }

            h4 {
                color: #FFF;
                line-height: 1.5;
                font-weight: 400;

                &:nth-child(4) {
                    background-color: #6DDD95;
                    border-radius: 10px;
                    font-style: italic;
                    padding: 0 1vw;
                    color: #000;
                }
            }
        }

        &:nth-last-child(1) {
            height: 35vw;

            img {
                height: 90%;
            }

            button {
                width: fit-content;
            }
        }

        &:nth-last-child(2) {
            height: 45vw;
        }
        
        &:nth-last-child(3) {
            img {
                height: 100%;
            }
        }
    }
}