.about-hero-section {
  width: 100%;
  position: relative;
  color: #FFF;
  overflow: hidden;

  @media (max-width: 768px) {
    height: 50vh;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.218);
    z-index: 1;
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .mute-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    color: #fff;
    font-size: 1.5vw;
    cursor: pointer;
    padding: 1vw 1.5vw;
    border-radius: 50%;
    transition: background 0.3s;

    @media (max-width: 768px) {
      padding: 2vw 3vw;
      font-size: 4vw;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.6);
    }
  }
}