.features-section {
    background-image: url(/bg-12.jpg);
    min-height: 100vh;
    padding: 10vw 5vw;

    .features-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 5vw;

        .features-left {
            width: 40%;

            h1 {
                font-size: 4vw;
                margin-bottom: 2vw;
                color: #FFF;
                font-weight: bold;
            }

            h4 {
                font-size: 1.3vw;
                color: #FFF;
                font-weight: 400;
            }
        }

        .features-right {
            width: 50%;
            display: flex;
            gap: 3vw;
            align-items: center;
            flex-direction: column;

            h4 {
                font-size: 1.3vw;
                color: #FFF;
                font-weight: 400;
            }
        }
    }

    .features-bottom {
        display: flex;
        justify-content: space-between;
        gap: 2vw;

        .feature-box {
            flex: 1;
            background: rgba(255, 255, 255, 0.353);
            padding: 3vw;
            box-shadow: 0 1.5vw 3vw rgba(0, 0, 0, 0.12);
            font-weight: 600;
            transition: all ease 0.5s;
            height: 16vw;
            position: relative;
            border-bottom: 5px solid #FFF;

            h4 {
                color: #FFF;
            }

            svg {
                color: #FFF;
            }

            img {
                position: absolute;
                bottom: 1%;
                right: 10%;
            }
        }
    }
}