.features2-section {
    background-image: url(/bg-12.jpg);
    min-height: 100vh;
    padding: 10vw 5vw;

    .features-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 5vw;

        @media (max-width: 768px) {
            flex-direction: column;
            margin-bottom: 6vw;

        }

        .features-left {
            width: 60%;

            @media (max-width: 768px) {
                width: 100%;
            }

            h1 {
                font-size: 4vw;
                margin-bottom: 2vw;
                color: #FFF;
                font-weight: bold;

                @media (max-width: 768px) {
                    font-size: 10vw;
                    font-weight: 600;
                    margin-bottom: 4vw;
                }
            }

            h4 {
                font-size: 1.3vw;
                color: #FFF;
                font-weight: 400;

                @media (max-width: 768px) {
                    font-size: 4vw;
                    line-height: 1.5;
                }
            }
        }

        .features-right {
            width: 31.5%;
            display: flex;
            gap: 3vw;
            position: relative;

            @media (max-width: 768px) {
                width: 100%;
            }

            a {
                flex: 1;
                display: flex;
                text-decoration: none;
            }

            .feature-box {
                display: flex;
                flex-direction: column;
                background: rgba(255, 255, 255, 0.353);
                padding: 2vw;
                box-shadow: 0 1.5vw 3vw rgba(0, 0, 0, 0.12);
                flex: 1;
                font-weight: 600;
                height: 16vw;
                transition: all ease 0.5s;
                border-radius: 2px;
                position: relative;
                border-bottom: 5px solid #FFF;

                @media (max-width: 768px) {
                    height: 25vh;
                }

                h4 {
                    color: #FFF;
                    font-size: 1.8vw;

                    @media (max-width: 768px) {
                        font-size: 5vw;
                    }
                }

                svg {
                    color: #FFF;
                }

                img {
                    position: absolute;
                    bottom: 1%;
                    right: 10%;
                }
            }
        }
    }

    .features-bottom {
        display: flex;
        justify-content: space-between;
        gap: 2vw;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 6vw;
        }

        a {
            flex: 1;
            display: flex;
            text-decoration: none;
        }

        .feature-box {
            flex: 1;
            background: rgba(255, 255, 255, 0.353);
            padding: 3vw;
            box-shadow: 0 1.5vw 3vw rgba(0, 0, 0, 0.12);
            font-weight: 600;
            transition: all ease 0.5s;
            height: 16vw;
            position: relative;
            border-bottom: 5px solid #FFF;

            @media (max-width: 768px) {
                height: 25vh;
            }

            h4 {
                color: #FFF;
                font-size: 1.8vw;

                @media (max-width: 768px) {
                    font-size: 5vw;
                }
            }

            svg {
                color: #FFF;
            }

            img {
                position: absolute;
                bottom: 1%;
                right: 10%;
            }
        }
    }
}