.header-v2 {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FFF;;
    backdrop-filter: blur(20px);
    padding: 2vw 0;
    transition: all 0.3s ease;

    .container {
        padding: 0 2vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;

        img {
            position: absolute;
            width: 16vw;
            top: 0%;
            margin-bottom: 1vw;

            @media (max-width: 768px) {
                width: 30vw;
            }
        }

        .nav {
            display: flex;
            gap: 2vw;
            align-items: center;
            margin-left: 10vw;

            @media (max-width: 768px) {
                display: none;
            }

            ul {
                list-style: none;
                display: flex;
                gap: 2vw;
                margin: 0;
                padding: 0;

                .dropdown {
                    position: relative;

                    .arrow {
                        font-size: 0.7em;
                        margin-left: 0.3em;
                    }

                    .dropdown-menu {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background: #000000a8;
                        padding: 0.8vw 1vw;
                        border-radius: 5px;
                        flex-direction: column;
                        gap: 1vw;
                        white-space: nowrap;
                        opacity: 0;
                        transform: translateY(10px);
                        pointer-events: none;
                        transition: all 0.3s ease;

                        li a {
                            color: #FFF;
                            font-size: 1.1vw;

                            &:hover {
                                color: #C9F31D;
                            }
                        }
                    }

                    &:hover .dropdown-menu {
                        display: flex;
                        opacity: 1;
                        transform: translateY(0);
                        pointer-events: auto;
                    }
                }

                li {
                    a {
                        color: #1A5F32;

                        &:hover {
                            color: #6ddd95;
                        }
                    }
                }
            }
        }

        li {
            &:hover {
                color: #6ddd95;
            }
        }
    }
}