.scroll-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #358754;

    .rotating-text {
        width: 12vw;
        height: 12vw;
        margin-top: 2vw;

        @media (max-width: 768px) {
            width: 30vw;
            height: 30vw;
        }

        text {
            font-size: 0.7em;
            letter-spacing: 1px;
            text-transform: uppercase;
            fill: #FFF;
            font-weight: bold;

            @media (max-width: 768px) {
                font-size: 3vw;
            }
        }
    }

    .scroll-text-section {
        height: 85vh;
        background-color: #358754;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        @media (max-width: 768px) {
            height: fit-content;
            padding: 10vw 0;
        }

        h1 {
            font-size: 10vw;
            font-weight: bold;
            color: #FFF;
            margin: 0;

            @media (max-width: 768px) {
                font-size: 10vw;
            }
        }
    }
}